

nav > input, nav > label {
    display: none; /* Label und Checkbox ausblenden*/
} 

nav > label {
    width: 100%;
    }
    @media (max-width: 640px) {
    nav > label, nav ul li ul {
    display: block;
    }
    nav > ul {
    height: 0;
    opacity: 0;
    clear: both;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease;
    }
    nav > input:checked + ul {
    opacity: 1;
    height: auto;
    }
}
